In [1]:
import pandas as pd
import numpy as np

In [2]:
data1 = pd.read_csv("all.csv")

In [3]:
data2 = pd.read_excel("A1.xlsx")

In [4]:
data1.head()

,author,content,poem name,age,type
0,WILLIAM SHAKESPEARE,Let the bird of loudest lay\r\nOn the sole Ara...,The Phoenix and the Turtle,Renaissance,Mythology & Folklore
1,DUCHESS OF NEWCASTLE MARGARET CAVENDISH,"Sir Charles into my chamber coming in,\r\nWhen...",An Epilogue to the Above,Renaissance,Mythology & Folklore
2,THOMAS BASTARD,"Our vice runs beyond all that old men saw,\r\n...","Book 7, Epigram 42",Renaissance,Mythology & Folklore
3,EDMUND SPENSER,"Lo I the man, whose Muse whilome did maske,\r\...","from The Faerie Queene: Book I, Canto I",Renaissance,Mythology & Folklore
4,RICHARD BARNFIELD,"Long have I longd to see my love againe,\r\nSt...",Sonnet 16,Renaissance,Mythology & Folklore

In [5]:
data2.head()

                                                Poem Emotion
0  A Tree\nA tree beside the sandy river-beach \n...     sad
1  Sri Krishna\n\nO immense Light and thou, O spi...    love
2  Who\n\n\nIn the blue of the sky, in the green ...   peace
3  Revelation\n\n\nSomeone leaping from the rocks...     sad
4  The Silver Call\n\n\nThere is a godhead of unr...     joy

In [6]:
data1 = data1.drop(columns=['author','poem name','age'])

In [7]:
data1['type'].unique()

array(['Mythology & Folklore', 'Nature', 'Love'], dtype=object)

In [8]:
data1 = data1[(data1['type'] == 'Nature') | (data1['type'] == 'Love')]

In [9]:
data2['Emotion'].unique()

array(['sad', 'love', 'peace', 'joy', 'courage', 'surprise', 'hate',
       'anger', 'fear'], dtype=object)

In [10]:
data2 = data2[(data2['Emotion'] == 'sad') | (data2['Emotion'] == 'peace')]

In [11]:
data2 = data2.rename(index=str, columns={"Poem": "content","Emotion": "type"})

In [12]:
data = pd.concat([data1,data2],axis = 0)

In [13]:
data.head()

                                              content    type
19  Why didst thou promise such a beauteous day,\r...  Nature
20  The welcome Sun from sea Freake is returned,\r...  Nature
21  I met a courtier riding on the plain,\r\nWell-...  Nature
22  Walking the fields a wantcatcher I spied,\r\nT...  Nature
23  Fishing, if I a fisher may protest,\r\nOf plea...  Nature

In [14]:
data.reset_index(inplace=True)

In [15]:
data = data.drop(columns=['index'])

In [16]:
data.head()

                                             content    type
0  Why didst thou promise such a beauteous day,\r...  Nature
1  The welcome Sun from sea Freake is returned,\r...  Nature
2  I met a courtier riding on the plain,\r\nWell-...  Nature
3  Walking the fields a wantcatcher I spied,\r\nT...  Nature
4  Fishing, if I a fisher may protest,\r\nOf plea...  Nature

In [17]:
data['type'].unique()

array(['Nature', 'Love', 'sad', 'peace'], dtype=object)

In [18]:
data.to_csv('Poems.csv')